Simple Random Sampling

In [49]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/kathmandu_household.csv")
df
print(df.head())
print(df.shape)
print(df.info())

  household_id        lat        lon   district season  household_size  \
0      HH00001  27.643945  85.436554  Kathmandu    wet               5
1      HH00002  27.687734  85.426304  Kathmandu    dry               5
2      HH00003  27.756400  85.345140   Lalitpur    wet               4
3      HH00004  27.756791  85.284448  Kathmandu    wet               8
4      HH00005  27.690652  85.276281  Kathmandu    wet               4

   uses_piped_water  uses_groundwater_well  uses_tanker aquifer_id  \
0                 0                      1            0     AQ0498
1                 1                      1            1     AQ0395
2                 0                      1            1     AQ0444
3                 0                      1            1     AQ0231
4                 1                      1            1     AQ0449

   water_insecurity_index
0                   47.35
1                   42.88
2                   32.72
3                   16.89
4                    4.65
(2000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   household_id            2000 non-null   object
 1   lat                     2000 non-null   float64
 2   lon                     2000 non-null   float64
 3   district                2000 non-null   object
 4   season                  2000 non-null   object
 5   household_size          2000 non-null   int64
 6   uses_piped_water        2000 non-null   int64
 7   uses_groundwater_well   2000 non-null   int64
 8   uses_tanker             2000 non-null   int64
 9   aquifer_id              2000 non-null   object
 10  water_insecurity_index  2000 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 172.0+ KB
None

In [50]:
df_sample_random = df.sample(n = 100, replace = False, random_state = 42)
df_sample_random.head(5)

,household_id,lat,lon,district,season,household_size,uses_piped_water,uses_groundwater_well,uses_tanker,aquifer_id,water_insecurity_index
1860,HH01861,27.742049,85.374372,Kathmandu,wet,4,0,1,0,AQ0447,63.21
353,HH00354,27.788193,85.265015,Kathmandu,dry,4,1,0,0,AQ0033,53.20
1333,HH01334,27.761004,85.356546,Kathmandu,wet,5,0,0,1,AQ0372,11.01
905,HH00906,27.662195,85.413000,Bhaktapur,dry,4,0,1,0,AQ0450,15.54
1289,HH01290,27.732741,85.346480,Kathmandu,wet,5,1,1,0,AQ0059,32.39

In [51]:
df_sample_random.shape

(100, 11)

Systematic sampling

In [52]:
df = pd.read_csv("/content/kathmandu_household.csv")
df.shape
df.head(5)

,household_id,lat,lon,district,season,household_size,uses_piped_water,uses_groundwater_well,uses_tanker,aquifer_id,water_insecurity_index
0,HH00001,27.643945,85.436554,Kathmandu,wet,5,0,1,0,AQ0498,47.35
1,HH00002,27.687734,85.426304,Kathmandu,dry,5,1,1,1,AQ0395,42.88
2,HH00003,27.756400,85.345140,Lalitpur,wet,4,0,1,1,AQ0444,32.72
3,HH00004,27.756791,85.284448,Kathmandu,wet,8,0,1,1,AQ0231,16.89
4,HH00005,27.690652,85.276281,Kathmandu,wet,4,1,1,1,AQ0449,4.65

In [53]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   household_id            2000 non-null   object
 1   lat                     2000 non-null   float64
 2   lon                     2000 non-null   float64
 3   district                2000 non-null   object
 4   season                  2000 non-null   object
 5   household_size          2000 non-null   int64
 6   uses_piped_water        2000 non-null   int64
 7   uses_groundwater_well   2000 non-null   int64
 8   uses_tanker             2000 non-null   int64
 9   aquifer_id              2000 non-null   object
 10  water_insecurity_index  2000 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 172.0+ KB

In [54]:
k = 20
df_sample2 = df.iloc[::k]
df_sample2

,household_id,lat,lon,district,season,household_size,uses_piped_water,uses_groundwater_well,uses_tanker,aquifer_id,water_insecurity_index
0,HH00001,27.643945,85.436554,Kathmandu,wet,5,0,1,0,AQ0498,47.35
20,HH00021,27.784514,85.357889,Lalitpur,wet,3,0,1,0,AQ0044,42.43
40,HH00041,27.682101,85.202138,Bhaktapur,wet,4,0,1,0,AQ0189,51.71
60,HH00061,27.741013,85.345115,Kathmandu,wet,7,1,1,0,AQ0123,26.21
80,HH00081,27.633952,85.259790,Lalitpur,wet,4,1,1,1,AQ0015,45.58
...,...,...,...,...,...,...,...,...,...,...,...
1900,HH01901,27.787229,85.200041,Kathmandu,wet,5,0,1,0,AQ0161,59.19
1920,HH01921,27.711677,85.308539,Bhaktapur,wet,3,1,1,0,AQ0205,38.42
1940,HH01941,27.722818,85.454649,Kathmandu,wet,5,0,1,0,AQ0034,28.04
1960,HH01961,27.732268,85.423477,Kathmandu,wet,5,0,0,1,AQ0094,55.08
1980,HH01981,27.709996,85.251016,Kathmandu,wet,4,1,1,0,AQ0161,46.54

In [55]:
df_sample2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 1980
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   household_id            100 non-null    object
 1   lat                     100 non-null    float64
 2   lon                     100 non-null    float64
 3   district                100 non-null    object
 4   season                  100 non-null    object
 5   household_size          100 non-null    int64
 6   uses_piped_water        100 non-null    int64
 7   uses_groundwater_well   100 non-null    int64
 8   uses_tanker             100 non-null    int64
 9   aquifer_id              100 non-null    object
 10  water_insecurity_index  100 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 8.7+ KB

In [56]:
df_sample2.shape

(100, 11)

stratified-sampling

In [57]:
from sklearn.model_selection import StratifiedShuffleSplit as ss

In [58]:
df_sample3 = pd.read_csv("/content/kathmandu_household.csv")
df_sample3.head(5)
df_sample3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   household_id            2000 non-null   object
 1   lat                     2000 non-null   float64
 2   lon                     2000 non-null   float64
 3   district                2000 non-null   object
 4   season                  2000 non-null   object
 5   household_size          2000 non-null   int64
 6   uses_piped_water        2000 non-null   int64
 7   uses_groundwater_well   2000 non-null   int64
 8   uses_tanker             2000 non-null   int64
 9   aquifer_id              2000 non-null   object
 10  water_insecurity_index  2000 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 172.0+ KB

In [59]:
# we create a function to check if the data is proportional based on a pre-defined variable.
def counts(df, var):
    c = df[var].value_counts(dropna=False)
    p = df[var].value_counts(dropna=False, normalize=True)
    return pd.concat([c,p], axis=1, keys=['counts', '%'])

In [60]:
counts(df_sample3,"water_insecurity_index")

                        counts       %
water_insecurity_index
39.46                        5  0.0025
31.35                        4  0.0020
32.14                        4  0.0020
52.13                        3  0.0015
44.16                        3  0.0015
...                        ...     ...
68.51                        1  0.0005
77.81                        1  0.0005
29.90                        1  0.0005
41.01                        1  0.0005
41.76                        1  0.0005

[1678 rows x 2 columns]

In [61]:
counts(df_sample3,"district")

           counts       %
district
Kathmandu    1018  0.5090
Lalitpur      581  0.2905
Bhaktapur     401  0.2005

Cluster Sampling

In [64]:
df_sample4 = pd.read_csv("/content/kathmandu_household.csv")
df_sample4.head(5)

,household_id,lat,lon,district,season,household_size,uses_piped_water,uses_groundwater_well,uses_tanker,aquifer_id,water_insecurity_index
0,HH00001,27.643945,85.436554,Kathmandu,wet,5,0,1,0,AQ0498,47.35
1,HH00002,27.687734,85.426304,Kathmandu,dry,5,1,1,1,AQ0395,42.88
2,HH00003,27.756400,85.345140,Lalitpur,wet,4,0,1,1,AQ0444,32.72
3,HH00004,27.756791,85.284448,Kathmandu,wet,8,0,1,1,AQ0231,16.89
4,HH00005,27.690652,85.276281,Kathmandu,wet,4,1,1,1,AQ0449,4.65

In [65]:
df_sample4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   household_id            2000 non-null   object
 1   lat                     2000 non-null   float64
 2   lon                     2000 non-null   float64
 3   district                2000 non-null   object
 4   season                  2000 non-null   object
 5   household_size          2000 non-null   int64
 6   uses_piped_water        2000 non-null   int64
 7   uses_groundwater_well   2000 non-null   int64
 8   uses_tanker             2000 non-null   int64
 9   aquifer_id              2000 non-null   object
 10  water_insecurity_index  2000 non-null   float64
dtypes: float64(3), int64(4), object(4)
memory usage: 172.0+ KB

In [67]:
length = len(df_sample4)
groups = 10
elements = length / groups
print('elements by group:',elements)

elements by group: 200.0

In [68]:
group_list = []
group_id = 0
element_count = 0

for _ in df.iterrows():
    group_list.append(group_id)
    element_count += 1
    if element_count > elements:
        element_count = 0
        group_id += 1

#print(group_list) to see all group list generated.
np.unique(group_list, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([201, 201, 201, 201, 201, 201, 201, 201, 201, 191]))

In [69]:
np.shape(group_list), df.shape

((2000,), (2000, 11))

In [70]:
df['group'] = group_list
display(df.head(3))

,household_id,lat,lon,district,season,household_size,uses_piped_water,uses_groundwater_well,uses_tanker,aquifer_id,water_insecurity_index,group
0,HH00001,27.643945,85.436554,Kathmandu,wet,5,0,1,0,AQ0498,47.35,0
1,HH00002,27.687734,85.426304,Kathmandu,dry,5,1,1,1,AQ0395,42.88,0
2,HH00003,27.756400,85.345140,Lalitpur,wet,4,0,1,1,AQ0444,32.72,0

In [72]:
import random as rd
rd.seed(None)
group_selected = rd.randint(0, groups - 1)
print('group selected:',group_selected)

group selected: 6

In [77]:
df_cluster_sample = df[df['group'] == group_selected]

df_cluster_sample.shape

group
6    201
Name: count, dtype: int64

In [78]:
df_cluster_sample['group'].value_counts()

group
6    201
Name: count, dtype: int64